{
    "extends": "eslint:recommended",
    "plugins": [
        "html"
    ],
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "globals": {
        "Vue": true,
        "VueRouter": true,
        "Vuex": true,
        "jQuery": true,
        "console": true,
        "wp": true,
        "window": true,
        "document": true,
        "moment": true,
    },
    "rules": {
        "no-console": "off",
        "no-unused-vars": "warn",
        "no-undef": "warn",
        "indent": "off",
        "spaced-comment": "warn"
    }
}